@import "tailwindcss";
@plugin "daisyui";
/* 
#root {
    background-color: base-300
} */

/* Toast notification animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}